extends base
 
block content   
 .card.bg-transparent.text-white.mb-3(style="border:none")
   img.card-img(src="/image/17.png" alt="Card image")
   .card-img-overlay.text-center
       h1.card-title(style="align-content:center") Login
       form.form(id="resetpassword")
        p Enter your password:
        input(type="password" id="forget_password1"  placeholder="Password")
        <br><br>
        p Enter your confirm password:
        input(type="password" id="forget_password2" placeholder="Confirm password")
        <br><br>
        input(type="submit" class="btn btn-dark resettoken" id=`${token}` value="submit")
 <br><br>